.bg-gradient {
  width: 100vw;
  height: 20vh;
  background-image: linear-gradient(to bottom, #fff0 0%, #fff8 15%, #ffff 30%), url('../images/background-723052.jpg');
}

.new-tegomin {
  font-family: 'New Tegomin', serif;
}

.t-shadow {
  text-shadow: 0 0 10px #fff;
}

@media screen and (max-width: 3840px) {
  .bg-gradient {
    background-size: 3840px;
  }
}

@media screen and (max-width: 2560px) {
  .bg-gradient {
    background-size: 2560px;
  }
}

@media screen and (max-width: 1920px) {
  .bg-gradient {
    background-size: 1920px;
  }
}

@media screen and (max-width: 1366px) {
  .bg-gradient {
    background-size: 1366px;
  }
}

@media screen and (max-width: 1024px) {
  .bg-gradient {
    background-size: 1024px;
  }
}

@media screen and (max-width: 414px) {
  .bg-gradient {
    background-size: 414px;
  }
}